body {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei UI", sans-serif;
    font-size: 18px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;
}

.clearfix {
    overflow: hidden;
}

.btn {
    outline: none;
    border: 2px solid #00b237;
    border-radius: 1em;
    padding: .25em .5em;
    color: #ffffff;
    background-color: #00b237;
    cursor: pointer;
    transition: all .5s;
    vertical-align: middle;
    display: inline-block;
    font-size: 24px;
}

.btn:hover {
    background-color: #ffffff;
    color: #00b237;
}

.input {
    outline: none;
    border: 2px solid #cccccc;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 32px;
    transition: all .5s;
    vertical-align: middle;
}

.input:focus {
    border: 2px solid #00b237;
}

.box {
    box-shadow: 5px 5px 5px #ccc;
    border: 1px solid #00b237;
}

.container {
    display: flex;
    min-width: 1024px;
    align-items: flex-start;
    margin-bottom: 20px;
}

.container .choose {
    flex: 1;
    order: 1;

    margin: 0 10px;
}

.container .content {
    flex: 3;
    order: 2;

    margin: 0 10px;
}

.container .setting {
    flex: 1;
    order: 3;

    margin: 0 10px;
}

.container header{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin: 5px 0;
}

.container .choose .choose-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container .choose .choose-list li {
    position: relative;

    text-align: center;
    padding: 5px 0;

    cursor: pointer;
}

.container .choose .choose-list li:hover {
    background: #00b237;
    color: #ffffff;
}

.container .choose li.active {
    background: #00b237;
    color: #ffffff;
}

.container .choose li.active:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1em;
    margin: auto;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../svg/tick.svg");
}

.form {
    display: flex;
    padding: 20px 5%;
}

.form .fluid-width-input {
    flex: 1;
}

.form .btn {
    margin: 0 10px;
}

